/* Grids */


*{box-sizing: border-box;

margin: 0;

border: 0;}

html{height: 100%;}

body{font-family: 'Times New Roman', Times, serif;

font-size: 1.2rem;

min-height: 100%;

background-color: sandybrown;}

.container > * {
box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
border-radius: 4px;
padding: 10px;
text-align: center;
}



.header{grid-area: header;

background-color: darkred;}

h1{color: bisque;}

.navbar{grid-area: navbar;
background-color: bisque;}

.sidebar{grid-area: sidebar;

background-color:bisque;}

.sidebar2{grid-area: sidebar_2;}

.main{grid-area: main;

background-color: darkred;

color: bisque;}



.footer{grid-area: footer ;
background-color: darkred;}

.container{display: grid;

  grid-column: 1fr, 1fr,1fr;

  grid-row: repeat(2 1fr);

    gap: 10px; 

    grid-template-areas: 

        "header"
        "navbar"
        "main"
        "sidebar"
        "sidebar_2"
        "footer" ;}



.footer {
    background-color: rgb(0, 0, 0);
    color: #bbb;
    line-height: 1.5; }

footer ul{list-style: none;}


/* Comienza Flex */



.main{display: flex;

flex-direction: column;

justify-content: space-around;}

.sidebar{display: flex;

    flex-direction: column;

}

.sidebar_2{display: flex;

flex-direction: column;}

 /*Animacion*/
 @keyframes TITULO {
    from {color: bisque;}
    to {color:orange;}
  }
  
  h1 {
    background-color:darkred;
    animation-name: TITULO;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  } 

/* BARRA DE NAVEGACION */

.nav_links{list-style: none;
background-color: bisque;
}

.nav_links li{padding: 0px 20px;}


.nav_links li a{
    transition: all 0.3s ease 0s;color: black; font-size: large;
  font-family: 'Franklin Gothic Medium';}


.nav_links li a:hover{color: deepskyblue;}

button{padding: 9px 25px;}

.div1{display: flex;
    flex-direction:column;
flex-wrap: wrap;

justify-content: space-around;}

.div2{display: flex;
    flex-direction:column;
flex-wrap: wrap;}

.equipoLegal{margin-bottom: 20px;}
.equipoAdmin{margin-bottom: 20px;}

/* FOOTER */

.footer{display: flex;

flex-wrap: wrap;}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    padding-top: 1.25rem;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: rgb(0, 0, 0);
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}
.ft-legal-list li{transition: all 0.3s ease 0s}

.ft-legal-list :hover{color: deepskyblue;}


/* FORMULARIO */

.myForm {
    display: flex;
    background-color: darkred;
    border-radius: 3px;
    padding: 1.8em;
  }
  .message {
    display: flex;
    flex-direction: column;
    order: 2;
  }
  .message > textarea {
   flex: 1; 
   min-width: 18em;
  }
  .contact {
   	flex: 1; 
    order: 1;
   	margin-right: 2em; 
       color: bisque;
  }
  .contact input {
    width: 100%;
  }
  .contact input,
  .contact button {
    padding: 1em;
    margin-bottom: 1em;
  }
  .contact button {
   background: bisque;
   color:black;
   border: 0;
  }

  .searchbar{display: flex;
justify-content: flex-end;
margin-bottom: 20px;
margin-top: -20px;
}

 
.share{display: flex;

flex-direction: row;

justify-content: end;

margin-top: 10px;

gap: 10px;}

.card_:hover{font-size: x-large;
transition: all 0s ease-in-out 0.3s;}





/* COMIENZA MEDIA QUERY */


      @media only screen and (max-width: 480px) {
        .container{
            grid-template:

        "header header navbar navbar" 100px
        "sidebar . sidebar_2" 100px
        "footer" auto;
            }  
  .imagen{display: flex;
    justify-content: center;
      width: 400px;height: 200px;margin-right: -30;
      
}

.sidebar{background-color: darkred;
color: bisque;}
}

@media only screen and (max-device-width: 480px) 

{nav ul li{height: 40px;

display: flex;

flex-direction : column;}

    .myForm {
      flex-direction: column;
    }
    .message {
      margin-right: 2em;
    
    order: 2;}

      .button{order: 3;}

      .searchbar{display: flex;
    justify-content: center;
margin-top: 20px;}



} 